@import './stylesheets/header.css';
@import './stylesheets/hero.css';
@import './stylesheets/trending.css';
@import './stylesheets/main.css';
@import './stylesheets/main-links.css';
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Neucha&family=Noto+Sans&display=swap');

:root {
  --main-text-color: hsla(0, 0%, 0%, 0.8);
  --primary-color: hsl(44, 100%, 55%);
  --bg-color: hsl(0, 0%, 75%,0.8);
  --border-color: hsl(0, 0%, 16%);
  --primary-font-family: 'Martel Sans', sans-serif;
  --secondary-font-family: 'Noto Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
}

.page__container {
  display: grid;
  grid-template-rows: 0.1fr 0.5fr 0.6fr 1.5fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "header header"
  "hero hero"
  "trending trending"
  "main main";
}

.header {
  grid-area: header;
  z-index: 10;
}

.header ul {
  display: flex;
}

.hero {
  grid-area: hero;
}

.trending-topics {
  grid-area: trending;
}

.main {
  grid-area: main;
  display: flex;
}

.main__article{
  grid-area: main;
}

.main__links {
  grid-area: aside;
}


@media screen and (max-width: 900px) {
  .header__links {
    display: none;
  }

  .header__signup {
    transform: translateX(70px);
  }

  .hero {
    display: flex;
  }

  .hero__image-container {
    display: none;
}

  .trending-topics__article-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .hero {
    padding: 150px 0;
    /* width: 100%; */
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  
  .hero__main-title {
    line-height: 6.5rem;
  }

  .main__links-footer {
    display: none;
  }
}