.trending-topics__article {
    padding: 5px;
    margin: 3px;
    display: flex;
}

.trending-topics__article-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    font-size: 2rem;
    padding-right: 15px;
    opacity: 0.8;
}

.trending-topics__article-content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.trending-topics__article-content-author-name {
    text-transform: capitalize;
}

.trending-topics__article-title {
    font-weight: bold;
}

.trending-topics__article-content-datetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    font-size: 0.9rem;
    opacity: 0.8;
}

.trending-topics__article-content-datetime i {
    padding-left: 5px;
}

